.chat-container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  height: 95vh;
 
  .messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
 
    .message {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
 
      &.sent {
        align-items: flex-end;
 
        .text {
          background-color: #007bff;
          color: white;
        }
      }
 
      &.received {
        align-items: flex-start;
 
        .text {
          background-color: #e5e5ea;
          color: black;
        }
      }
 
      .username {
        font-size: 0.8rem;
        color: #555;
        margin-bottom: 5px;
      }
 
      .text {
        max-width: 70%;
        padding: 10px;
        border-radius: 10px;
        font-size: 0.9rem;
        line-height: 1.5;
      }
 
      .photo {
        max-width: 70%;
        margin-top: 10px;
        border-radius: 10px;
      }
 
      .timestamp {
        font-size: 0.7rem;
        color: #888;
        margin-top: 5px;
        text-align: right;
      }
    }
  }
 
  .chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
 
    input {
      flex: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 0.9rem;
 
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
      }
    }
 
    button {
      margin-left: 10px;
      padding: 10px 15px;
      background-color: #007bff;
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
 
      &:hover {
        background-color: #0056b3;
      }
 
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
 
  .webcam-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
 
    video {
      width: 100%;
      max-width: 400px;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-bottom: 10px;
    }
 
    button {
      padding: 10px 15px;
      margin: 5px;
      background-color: #007bff;
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
 
      &:hover {
        background-color: #0056b3;
      }
 
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
 }